.OurValueCard {
    border: 1px solid #D5DFE4;
    border-radius: 4px;
    display: flex;
    padding: 15px;
    height: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    &:hover {
        background-color: #F4F7FC;
        border: 1px solid #8C9EC5;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }
}


.AboutAcademy{
    .list-servicesGoals li {
        font-family: GEelegant;
        font-size: 14px !important;
        line-height: 22px !important;
        font-weight: bold !important;
        color: #1C1F4C;
        display: inline-block;
        width: 100%;
        padding: 0px 0px 0px 25px;
        background: url(../../../../public/images/template/checked.svg) no-repeat left;
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 15px;
    }
}

html[dir="rtl"] {
    .AboutAcademy{
        .list-servicesGoals li {
            padding: 0px 25px 0px 0px;
            background: url(../../../../public/images/template/checked.svg) no-repeat right;
           
        }
    }
}