/* ------------  tracking card ------------ */
.tracking-card-component {
    border: 1px solid rgba(221, 228, 240, 1);
    border-radius: 10px;
    background: #fff;
    transition: box-shadow 0.2s;
    .card-body{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text-success{
          color: #76A441 !important;
      }
      .text-warning{
          color: #DD8C23 !important;
      }
      .text-primary{
          color: #425A8B !important;
      }
  
    }
    .icon-box {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      border-radius: 4px;
    }
    .fw-bold {
      font-size: 1.25rem;
    }
  
  } 

  /* ------------  tracking card ------------ */


  .current-course-card {
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(118, 164, 65, 0.5);

    .card-title {

    }

    .course-details {
      display: flex;
      gap: 10px;
      align-items: start;
      margin-bottom: 1rem;
      border-bottom: 2px dashed rgba(234, 234, 234, 1);
      img {
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
}

      .course-info {
        .course-category {
          font-size: 0.8rem;
          color: #6c757d;
          margin-bottom: 0.25rem;
        }
        .course-name {
          font-weight: bold;
          font-size: 1rem;
          margin: 0;
        }
      }
    }

    .progress {
      height: 0.5rem;
      margin-bottom: 0.25rem;
      background-color: #e9ecef;
      .progress-bar {
        background-color: #76A441;
      }
    }

    .progress-text {
      font-size: 0.8rem;
      color: #6c757d;
    }

    .course-actions {
      display: flex;
      justify-content: space-between;
      gap: 10px;

      .btn {
        width: 100%;
      }
    }
  }