@use "styles/imports" as *;

.input-otp {
  width: 70px;
  height: 70px;

  border-radius: 15px;
  border: 0.5px solid #dde4f0;
  background-color: #ffffff80;
  padding: 10px;
  text-align: center;

  &:disabled {
    background-color: $color-gray-50;
  }

  &:active,
  &:focus {
    outline: 1px solid #425a8b;
    border-color: #425a8b;
  }

  &__error {
    border-color: $color-red;

    &:active,
    &:focus {
      border-color: $color-red !important;
      outline: 1px solid $color-red;
    }
  }
}

.otp-input-wrapper {
  position: relative;

  &::after {
    content: "___";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #6b93d0;
    font-size: 1.2rem;
    pointer-events: none;
    font-weight: bold;
  }
}

.otp-input {
  border: 1.5px solid #dbe6c7;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5rem;
  color: #425a8b;
  transition: border-color 0.2s;
}

// .otp-input:focus {
//   border-color: #76a441;
//   outline: none;
//   background: #fff;
// }
