.Subscription-Success{
    .Modal-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .course-card{
        background-color: #F5F7FB;
        border: none;
    }
}