@import "../../../../styles/variables";
// News Page Custom Styles
.section-box.News {
  margin-top: 30px;

  h2 {
    &.section-title {
      font-family: GEelegant;
      font-size: 45px;
      line-height: 58px;
      font-weight: bold;
      color: #425A8B;

      @media (max-width: 991px) {
        font-size: 32px;
        line-height: 40px;
      }
      @media (max-width: 575px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  
  .display-list {
    .card-grid-style-1 {
      display: flex;
      border: 1px solid #DDE4F0;
      border-radius: 5px;
      overflow: hidden;
      padding: 20px;

      @media (max-width: 991px) {
        flex-direction: column;
        padding: 15px;
        margin: 10px 0;
      }
      @media (max-width: 575px) {
        padding: 10px;
        margin: 8px 0;
      }

      .news-info {
        .tag-dot {
          border-radius: 4px;
          padding: 7px;
          display: inline-block;
          color: #425A8B;
          background-color: #d5dfe4;
          font-family: GEelegant;
          font-size: 12px !important;
          line-height: 18px !important;
          font-weight: 400;

          .dot.bullet {
            display: inline-block;
            border-radius: 6px;
            width: 8px;
            height: 8px;
            margin: 0px 5px;
            color: #36a2d0;
            background-color: #36a2d0;
          }
        }

        a {
          &.title-link {
            &:hover {
              color: #00608a;
            }
          }
          h4 {
            &.card-title {
              color: $color-gray-1000;
              font-size: 24px;
              line-height: 31px;
              font-weight: bold;
              margin-top: 10px;

              @media (max-width: 991px) {
                font-size: 20px;
                line-height: 26px;
              }
              @media (max-width: 575px) {
                font-size: 18px;
                line-height: 22px;
                margin-top: 6px;
              }
            }
          }
        }
        p {
          &.description {
            color: #8C9EC5;
            font-family: GEelegant;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            @media (max-width: 575px) {
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}

