@use "styles/imports" as *;

.search-input {
  width: 100%;
  height: 100%;
  background-color: #F5F7FB;
  border: none;
  outline: none;
  color: $color-primary;
  font-size: rem(12);

  &::placeholder {
    @apply text-sm font-normal;
    color: $color-third;
  }

  &__wrapper {
    min-width: 300px;

    @include media-breakpoint-down(sm) {
      min-width: 100%;
    }
    height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: #F5F7FB;
    padding: 0 15px;
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
}

  &__icon {
    font-size: rem(12);
    color: $color-gray-600;
  }
}
