.form-register {
    .form-group {
        margin-bottom: 22px;
      }
      .form-control {
        padding: 14px 20px;
    }
.btn-buy {
        padding: 14px 22px;
        
    }
    .form-control::placeholder {
        color: #B2C2E1;
        font-size: 14px;
        line-height: 18px;
    }
}

