.change-password-modal {
  &-title {
    color: #425a8b !important;
  }

  &-description {
    color: #757575 !important;
  }
}

.toggle-password {
  position: absolute;
  top: 55%;
  left: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  color: #666;
  user-select: none;
}
