.banner-content {
  .btn.btn-gray-1000 {
    background-color: #0E224D;
    color: #ffffff;
}
.btn.btn-shop-now {
    background-position: left 14px center;
    background-repeat: no-repeat;
    font-size: 20px;
}

}
.swiper-pagination-bullet-active {
  background: #002647 !important;
}

span.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}