@use "styles/imports" as *;

.checkbox {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }

  &__group {
    &-item {
      width: 100%;
      height: 48px;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
      padding: 8px 20px;
      border: 1px solid transparent;
      border-radius: $radius-md;
      background-color: white;
      border: 1px solid #DDE4F0;
      transition: background-color 0.3s ease-in-out;
      color: #425A8B;

      &:focus-within {
        border-color: #6B93D0;
      }

      &--error {
        border-color: $color-red;
      }

      &-checked {
        background-color: #DDE4F0;
    
        border-color:#6B93D0;
        font-weight: $font-bold !important;
      }

      &--disabled {
        background-color: rgba($bg-secondary, 0.1);
        border-color: rgba($bg-secondary, 0.5);
      }
    }
  }

  &__label {
    font-size: rem(18);
    color: #425A8B;
    font-weight: $font-medium;
    line-height: 160%;
  }
}
