.NewsSection-Card{
    position: relative;
    .head-main{
        h3{
            color: #425A8B;
            margin-bottom: 5px;
        }
    }

     .tag-dot {
        border-radius: 4px;
        padding: 7px;
        display: inline-block;
        color: #425a8b;
        background-color: #d5dfe4;
        font-family: GEelegant;
        font-weight: 400;
        margin-bottom: 6px;
        font-size: 12px !important;
        line-height: 18px !important;
    }

   .dot.bullet {
        display: inline-block;
        border-radius: 6px;
        width: 8px;
        height: 8px;
        margin: 0 5px;
        color: #36a2d0;
        background-color: #36a2d0;
    }
}

.initiative-card{
    border-radius: 12px;
}
.courseTitle {
    display: flex;
    align-items: baseline;
    height: 30px;
    text-align: center;
}